@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
.title{
    font-size: 4rem;
    color:#131313;
    font-weight: 700;
    text-align: center;
}
.description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin:30px 0px;
}
.btn{
    background-color: #FF900E;
    border-radius: 5px;
    color:#fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border:none;
    padding: 15px 30px;
    cursor: pointer;
    margin:20px 0px;
}
/* header-section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    list-style: none;
    margin-left: 70px;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #424242;
}
.header-logo{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313 ;
}
.header-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;

}
/* Responsive Media Query */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .header-wrapper{
        flex-direction: column;
    }  .header-logo {
        display: none;
    }
    
    .navigation ul {
        flex-direction: column;
    }
    
    .navigation ul li {
        margin: 15px 0px;
    }
    
    .header-content {
        margin: 15px 0px;
    }
    
   
}
/*Tablet or Medium Devices */
@media screen and (min-width:576) and (max-width:992px) {
    header{
        padding: 20px;
    }
    .header-wrapper{
        flex-direction: column;
    }  .header-logo {
        display: none;
    }
    
    .navigation ul {
        flex-direction: column;
    }
    
    .navigation ul li {
        margin: 15px 0px;
    }
    
    .header-content {
        margin: 15px 0px;
    }
    
}